@media(max-width: 1440px){}
@media(max-width: 1320px){}
@media(max-width: 1440px){}
@media(max-width: 1290px){}
@media(max-width: 1170px){}
@media(max-width: 1140px){}
@media(max-width: 1024px){}
@media(max-width: 992px){}


@media(max-width: 768px){}
@media(max-width: 736px){}
@media(max-width: 598px){}
@media(max-width: 576px){
    
    body {
        background-color: #07043B;
    }
    
            /* fylo */
    .site-nav {
        width: 100%;
        height: 24px;
        flex-shrink: 0;
    }

    .fylo-logo {
        width: 80px;
        height: 24px;
        flex-shrink: 0;
    }

    .fylo-menu {
        column-gap: 24px;
    }
    /* fylo */


    /* fylo-stores */

    .fylo-stores {
        flex-direction: column;
        align-items: center;
        margin-top: 98px;
    }

    .site-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 16px;
    }

    .stores-one {
        width: 320px;
        color: #07043B;
        text-align: center;
        font-family: "Open Sans";
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
    }

    .stores-text {
        width: 296px;
        color: #07043B;
        text-align: center;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .stores-img {
        width: 304px;
        height: 225px;
        margin-top: 40px;
    }

    .btn-nav {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    .btn-email {
        width: 304px;
        height: 40px;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }

    .btn-name {
        width: 304px;
        height: 40px;
        color: #FFF;
        font-family: Raleway;
        font-size: 14px;
        font-weight: 700;
    }
    /* fylo-stores */

    /* stay */
    .stay {
        width: 100%;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: none;
        align-items: center;

    }

    .stay-name {
        color: #07043B;
        text-align: center;
        font-family: Raleway;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        margin-top: 60px;
    }

    .stay-tetx {
        max-width: 320px;
        width: 100%;
        color: #615F7E;
        text-align: center;
        font-family: "Open Sans";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 21px; /* 150% */
    }

    .visit {
        display: flex;
        align-items: center;
        width: 101px;
    }

    .works {
        color: #3DA08F;
        font-family: "Open Sans";
        font-size: 12px;
        font-weight: 400;
    }

    .indicator {
        width: 12px;
        height: 12px;
        border-radius: 50%;
    }

    .info-card {
        width: 280px;
        height: 169.101px;
        border-radius: 3.933px;
        box-shadow: 0px 0px 8px 4px rgba(56, 56, 56, 0.05);
    }

    .card-nav {
        color: #07043B;
        font-family: "Nunito Sans";
        font-size: 35.393px;
        font-weight: 400;
        line-height: 53.09px;
    }

    .card-text {
        max-width: 241.303px;
        width: 100%;
        color: #07043B;
        font-family: "Open Sans";
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: 18.09px;
        letter-spacing: 0.385px;
    }

    .founder-img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .founder-name {
        color: #07043B;
        font-family: "Open Sans";
        font-size: 9px;
        font-weight: 700;
        letter-spacing: 0.45px;
    }

    .founder-qualification {
        color: #07043B;
        font-family: "Open Sans";
        font-size: 6px;
        font-weight: 400;
        line-height: 11.798px;
        letter-spacing: 0.3px;
    }

    .stay-img {
        width: 320px;
        height: 241px;
        margin-top: 40px;
    }
    /* stay */

    /* support */
    .support {
        width: 100%;
        height: 345px;

        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 81px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .support-about {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about {
        color: #FFF;
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
    }

    .about-text {
        max-width: 280px;
        width: 100%;
        color: #FFF;
        text-align: center;
        font-family: "Open Sans";
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

    .btn-nave {
        padding-left: 21px;
        margin-top: 17px;
    }

    .btn-emai {
        width: 240px;
        height: 32px;
        fill: #FFF;
        filter: drop-shadow(1px 1px 3px rgba(7, 4, 59, 0.16));
        margin-bottom: 8px;
        text-align: center;
    }

    .btn-name {
        width: 240px;
        height: 32px;
        color: #FFF;
        font-family: Raleway;
        font-size: 10px;
        font-weight: 700;
    }
    /* support */

    /* for-communication */
    .for-communication {
        width: 100%;
        height: 600px;
        background: #07043B;
    }

    .logo {
        width: 105px;
        height: 30px;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: 445px;
        margin-bottom: 32px;
    }

    .communication {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: left;
        justify-content: left;
        padding-right: 115px;
    }

    .com {
        color: #FFF;
        font-family: "Open Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }

    .com-menu {
        margin-top: 32px;
        padding-right: 123px;
        display: inline-flex;
        height: 136px;
        padding-bottom: 0.5px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 16px;
        flex-shrink: 0;
    }
    
    .face-img {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .face {
        display: flex;
        padding-left: 272px;
    }

}

@media(max-width: 480px){}
@media(max-width: 375px){}
@media(max-width: 320px){}