@media only screen and (max-width: 576px){
    .container {
        margin: 0 auto;
    }
    
    .order-now {
        margin-top: 23px;
    }
    .order-btn {
        padding: 11px 14px;
    }
    
    .site-hero {
        margin-top: 64px;
    }
    .mobile {
        flex-direction: column;
    }
    .site-headline {
        max-width: 327px;
        font-size: 48px;
        line-height: 48px;
    }
    .site-text {
        max-width: 327px;
        font-size: 16px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .hero-btn {
        padding: 11px 14px;
    }
    .site-baner {
        border-radius: 0px 0px 0px 0px;
        padding-left: 35.30px;
        width: 372px;
        height: 331px;
    }
    .btn {
        margin-bottom: 70px;
    }


    .bolak {
        position: absolute;
        z-index: -2;
        padding-left: 10000px;
    }
    .key-img {
        width: 129px;
        height: 193px;
        margin-right: 1px;
        margin-left: 150px;
        border-radius: 20px 0px 0px 20px;
    }
    .key-imgg {
        width: 220px;
        height: 193px;
        border-radius: 20px;
    }
    .ali-mobil {
        text-align: center;
        row-gap: 64px;
    }
    .key-dflex {
        flex-direction: column;
        text-align: center;
    }
    .mobile-span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 75px;
    }
    .key-dflex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .kva {
        position: absolute;
        z-index: -2;
        padding-left: 10000px;
    }
    .finish {
        margin-top: 96px;
        padding-bottom: 35px;
    }
}