@import url(./fonts.css);

/* custom props */
:root {
    --Dark-Blue: #172339;
    --Grey: #49566D;
    --Cream:  #F3EDE7;
    --Cream-White:  #FAF8F6;
    --White:  #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
/* custom props */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #838383;
    z-index: -1;
}

.site-head { 
    max-width: 1440px;
    width:  100%;
    height: 1716px;
    background-color: var(--White);

}

.container{
    padding-top: 50px;
    padding-left: 167px;
    padding-right: 164px;
    padding-bottom: 72px;
}

/* suite-menu */
.suite-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.suite-img{
    width: 78.414px;
    height: 24.8px;
    color: var(--White);
}

.beta-access {
    color: var(--Dark-Blue);
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 200% */
    letter-spacing: -0.16px; 
    display: block;
    background-color: var(--White);
    width: 219px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    border-radius: 6px;
    border: 1px solid var(--Dark-Blue);
    transition: 0.5s;
}

.beta-access:hover {
    color: var(--Cream-White, #FAF8F6);
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.16px;
    border-radius: 6px;
    border: 1px solid var(--Dark-Blue);
    background: var(--Dark-Blue);
}

/* suite-menu */

/* business */
.business {
    display: flex;
    margin-top: 170px;
    justify-content: space-between;
}

.business-proposal {
    width: 635px;
    color: #172339;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: "Epilogue";
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px; 
    letter-spacing: -1px;
}

.business-text {
    width: 350px;
    color: var(--Grey, #49566D);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Epilogue;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
    letter-spacing: 0.1px;
    margin-top: 40px;
    margin-bottom: 52px;
}

.business-start {
    font-family: Epilogue;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.18px;
    color: rgba(250, 248, 246, 1);
    border-radius: 6px;
    background: var(--Dark-Blue, #172339);
    padding-top: 15px;
    padding-bottom: 14px;
    padding-left: 32px;
    padding-right: 31px;
    transition: 0.5s;
}

.business-start:hover {
    background: linear-gradient(135deg, #A060FF 0%, #CB30E3 49.21%, #FFA84E 100%);
    color: rgba(250, 248, 246, 1);  
}

.business-img {
    width: 350px;
    height: 600px;
    border-radius: 15px;
    background: radial-gradient(141.42% 141.42% at 100% 100%, #A060FF 0%, #CB30E3 33.18%, #FFA84E 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: 1;
    align-items: center;
    margin-left: 474px;
}

.about-business {
    position: absolute;
    z-index: 2;
}

.business-users {
    gap: 63px;
    margin-left: 96px;
}

.business-users__number {
    margin-top: 63px;
}

.companies {
    width: 190px;
    color: var(--Dark-Blue, #172339);
    font-family: Epilogue;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.5px;
}

.companies-name {
    color: var(--Grey, #49566D);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.5px;
}

.d {
    display: flex;
}
/* business */


/* course-founder */
.course-founder{
    display: flex;
    width: 1109px;
    height: 545px;
    border-radius: 15px;
    background: var(--Dark-Blue, #172339);
    margin-top: 136px;
}

.founder-img {
    width: 359.81px;
    height: 589.557px;
    margin-left: 121px;
    margin-bottom: 70px;
}

.founding-opinion {
    width: 350px;
    height: 369px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 40px;
    margin-top: 88px;  
    margin-bottom: 88px;
    margin-left: 152px;
}

.opinion {
    color: #FAF8F6;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Epilogue;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px; /* 116.667% */
    letter-spacing: -0.5px;
}

.opinion-text {
    max-width: 359px;
    width: 100%;
    color: var(--Cream, #F3EDE7);
    font-family: Epilogue;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 35px; /* 175% */
    letter-spacing: 0.1px;
}

.founder-name {
    color: var(--Cream-White, #FAF8F6);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Epilogue;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 177.778% */
    letter-spacing: -0.18px;
}

.founder-type {
    width: 190px;
    color: var(--Cream, #F3EDE7);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Epilogue;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    letter-spacing: 2.5px;
}

/* course-founder */



/* suite-exit */
.suite-exit {
    margin-top: 95px;
    max-width: 1109px;
    width: 100%;
    height: 32px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.suite-name {
    color: var(--Dark-Blue, #172339);
    font-family: Epilogue;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; 
    letter-spacing: -0.444px;
}

.suite-exit__text {
    color: var(--Grey, #49566D);
    text-align: center;
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: Epilogue;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 213.333% */
    letter-spacing: 0.083px;
}

.ista {
    display: flex;
    column-gap: 10px;
}

.boglanish {
    width: 20px;
    height: 20px;
}

.boglanish:hover {
    color: #49566D;
    fill: var(--Grey);
    opacity: 0.5;
}