* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(181, 181, 181, 0.823);
}
/* 1 */
.server {
    max-width: 1600px;
    width: 100%;
    height: 2609px;
    background: #151515;
}

.boulevard {
    max-width: 1600px;
    width: 100%;
    height: 65px;
    flex-shrink: 0;
    display: flex;
    column-gap: 20px;
    align-items: center;
    justify-content: space-between;
    background: #282828;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
    padding-left: 245px;
    padding-right: 247px;

}

.nav-menu {
    display: flex;
    align-items: center;
    column-gap: 30px;
    
}

.imac {
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.ipad {
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.iphone {
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bou-img {
    width: 100px;
    height: 53px;
    
}

.search {
    margin-right: 25px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    fill: #FFF;
}
/* 1 */


.airpods {
    max-width: 1600px;
    width: 100%;
    height: 700px;
    flex-shrink: 0;
    background-image: url(../img/Header.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 38px;
}

.airpods-name {
    color: #FFF;
    font-family: "Prosto One";
    font-size: 100px;
    font-style: normal;
    font-weight: 400;
    line-height: 75px; 
}

.btn {
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 11px;
}

.airpods-btn {
    width: 145px;
    color: #171718;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}
/*  */

/* about-airpots */
.about-airpots {
    position: relative;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 50px;
}

.info1 {
    display: flex;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-text1{
    max-width: 538px;
    width: 100%;
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: rgba(255, 255, 255, 1);
}

.info-img1 {
    width: 552px;
    height: 335px;
    margin-top: 57px;
}

.info-text{
    max-width: 540px;
    width: 100%;
    height: 107px;
    flex-shrink: 0;
    color: #FFF;
    font-family: "Montserrat";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal; 
}

.info-img {
    width: 562px;
    height: 408px;
    flex-shrink: 0;
    margin-right: 63px;
}

.airpots-function {
    display: flex;
    margin-top: 50px;
}

.function-text {
    width: 333px;
    color: #FFF;
    text-align: right;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 145px;
    margin-right: 13px;
}

.function-text1 {
    width: 333px;
    color: #FFF;
    text-align: right;
    font-family: "Montserrat";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 145px;
    text-align: left;
    margin-left: 11px;
}
.ch{
    width: 61px;
    flex-shrink: 0;
    background-color: 4px solid #fff;
}

.ch::after {
    content: "";
    display: block;
    width: 61px;
    height: 1px;
    flex-shrink: 0;
    background-color: #FFF;
    margin-top: 207.2px;
    
}

.function-img {
    width: 268px;
    height: 375px;
    margin-left: 14px;
}
/* about-airpots */

/* iphone */
.iphone-cards {
    display: flex;
    column-gap: 30px;
    margin-top: 79px;
}

.iphone-card {
    width: 255px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
    gap: 10px;
}

.iphone-name {
    color: #000;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.iphone-purchase {
    color: #000;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.view{
    display: flex;
    flex-direction: column;
    width: 161px;
    height: 34px;
    background: #151515;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.view:hover {
    cursor: pointer;
}

/* iphone */



/* payment */

.payment {
    display: flex;
    max-width: 1600px;
    height: 215px;
    background: #282828;
    box-shadow: 0px -4px 20px 0px rgba(0, 0, 0, 0.25);
    align-items: center;
    margin-top: 55px;
    justify-content: space-around;
}
.choose {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.payment-choose {
    color: #FFF;
    text-align: right;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.payment-choice {
    display: flex;
    column-gap: 42px;
}

.payment-choice:hover{
    cursor: pointer;
}


/* payment */